<ul id="tags">
  <li><a href="{{site.baseurl}}/annuaire?q=%23Développement%20Web">Développement Web</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Transformation%20Digitale">Transformation Digitale</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Business%20Intelligence">Business Intelligence</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Data">Data</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Collaboration">Collaboration</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Infrastructure">Infrastructure</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Open%20Source">Open Source</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Accessibilité">Accessibilité</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23Eco-conception">Eco-conception</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23IA">IA</a></li>
</ul>
