<ul id="tags">
  <li><a href="{{site.baseurl}}/annuaire?q=%23developpement%20web">Développement Web</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23transformation%20digitale">Transformation Digitale</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23business%20intelligence">Business Intelligence</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23data">Data</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23collaboration">Collaboration</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23infrastructure">Infrastructure</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=%23logiciels%20libres">Logiciels libres</a></li>
</ul>
