<ul id="tags">
  <li><a href="{{site.baseurl}}/annuaire?q=developpement%20web">Développement Web</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=transformation%20digitale">Transformation Digitale</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=BI">Business Intelligence</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=data">Data</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=collaboration">Collaboration</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=infrastructure">Infrastructure</a></li>
  <li><a href="{{site.baseurl}}/annuaire?q=logiciels%20libres">Logiciels libres</a></li>
</ul>
