---
layout: default
nav_menu: directory
---
<div id="member-hero" class="hero" style="{% if page.banner %}background-image: url({{page.banner}}){% elsif page.accent_color %}background: {{page.accent_color}}{% else %}background-image: none;{% endif %}">
  {% if page.logo %}<img src="{{page.logo}}" alt="Logo">{% else %}<h1>{{page.title}}</h1>{% endif %}
</div>
<section>
  <div class="container">
    <div class="section-header" style="{% unless page.video %}margin-bottom: 0;{% endunless %}">
      {% if page.description %}<h2>{{page.description}}</h2>{% endif %}
      <p>
        <a href="{{page.website}}" target="_blank">{{page.website}}</a>
        {% if page.email %} | <a href="mailto:{{page.email}}">{{page.email}}</a>{% endif %}
        {% if page.phone %} | {{page.phone}}{% endif %}
        {% if page.address %} | {{page.address}}{% endif %}
      </p>
    </div>
    {% if page.keywords %}
    <ul id="tags">
      {% for keyword in page.keywords %}
      <li><a href="{{site.baseurl}}/annuaire?q=%23{{keyword|url_encode}}">{{keyword}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if page.video %}
      <iframe src="{{page.video}}" frameborder="0" allowfullscreen="" class="video-iframe"></iframe>
    {% endif %}
  </div>
</section>
<article>
  {{content}}
</article>
